/* colol palette */
:root {
  --primary: rgba(230, 40, 40, 0.504);
  --secondary: blue;
  --primdark: blue;
  --secondark: blue;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

#img1 {
  height: 64px;
  width: 64px;
}

ul {
  columns: 3;
  /* -webkit-columns: 3;
  -moz-columns: 3; */
}

.bg-prim {
  background-color: var(--primary);
}
